nw_location               = "usgovvirginia"
prefix                    = "dsop"
spoke_name                = "sample"
spoke_vnet_range          = "10.101.0.0/16"
spoke_subnet_range        = "10.101.0.0/20"
cluster_subnet_cidr       = "10.101.16.0/20"
deploy_hub                = false
server_open_ssh_public    = true
server_public_ip          = true
dns_azure_client_id       = "__CHANGE_ME__"
dns_azure_client_secret   = "__CHANGE_ME__"
dns_azure_subscription_id = "__CHANGE_ME__"
dns_azure_tenant_id       = "__CHANGE_ME__"
dns_azure_resource_group  = "crew-lever"
domain_name               = "sample.domain.com"
provision_dns             = false